.contact-header {
  width: 100%;
  height: 500px;
  background: $black url(img/contact-us-header.jpg) no-repeat center bottom;
  background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    max-width: 962px;
    margin: 0 auto;
    padding-left: 30px;
    h1,
    p {
      color: $white;
    }
    h1 {
      font-size: 40px;
      margin: 0 0 16px;
      font-weight: bold;
    }
    p {
      font-size: 24px;
      margin: 0;
    }
  }
}

.contact-content {
  padding: 64px 0;
}

.contact-form {
  max-width: 962px;
  margin: 0 auto 80px;
  h3 {
    font-size: 24px;
    margin: 0 0 8px;
  }
  p {
    font-size: 20px;
    margin: 0 0 32px;
  }
  .control-label {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 4px;
    display: block;
    span {
      color: $red;
      margin: 0 0 0 2px;
      font-size: 24px;
      display: inline-block;
    }
  }
  .form-control {
    padding: 8px 16px;
    background-color: #F7F7F7;
    border: 1px solid $light-grey;
    border-radius: 4px;
  }
  input.form-control {
    height: 48px;
  }
  textarea.form-control {
    height: 150px;
  }
  .form-group {
    margin: 0 0 24px;
  }
}