.wrapper {
  position: relative;
}

body {
  &.lock {
    overflow-y: hidden;
  }
}

.page-content {
  max-width: 962px;
  margin: auto;
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 32px 0 20px;
    @media #{$md} {
      margin: 24px 0 20px;
    }
    @media #{$lg} {
      font-size: 32px;
      margin: 60px 0 32px;
    }
    @media #{$xl} {
      margin: 100px 0 32px;
    }
  }
  h2 {
    margin: 40px 0 24px;
  }
  h3 {
    font-size: 20px;
    margin: 0 0 20px;
    text-align: center;
    font-weight: bold;
    @media #{$md} {
      font-size: 24px;
    }
    @media #{$lg} {
      margin: 0 0 40px;
    }
  }
  h4 {
    line-height: 1.4;
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0 16px;
  }
  h5 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    margin: 24px 0 16px;
  }
  h6 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    margin: 24px 0 16px;
  }
  p {
    font-size: 16px;
    margin: 0 0 24px;
    line-height: 1.7;
    @media #{$lg} {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  a {
    color: $green;
    text-decoration: underline;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  hr {
    margin: 40px 0;
  }
  ul, ol {
    padding-left: 20px;
    margin: 0 0 24px;
    font-size: 16px;
    @media #{$lg} {
      padding-left: 40px;
      font-size: 20px;
    }
    li {
      margin: 0 0 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.slider-block,
.mobile-slider-block {
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.slider-block {
  display: none;
  @media #{$sm} {
    display: block;
  }
}

.mobile-slider-block {
  display: block;
  &.slick-dotted.slick-slider {
    margin: 0;
  }
  @media #{$sm} {
    display: none;
  }
}